.login {
  position: relative;
  height: 100%;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/a99688ca-33c3-4099-9baa-07a2e2acb398/fc30ac2a-b8fc-499e-ad43-386f2c252f79/EG-en-20240520-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: cover;
}
.login_logo {
  position: fixed;
  left: 40px;
  width: 250px;
  object-fit: contain;
  padding-left: 20px;
}
.login_btn {
  position: fixed;
  right: 40px;
  top: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.login_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.login_body > h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.login_body > h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.login_body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

.login_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
}
.login_input > form > input {
  padding: 10px;
  outline-width: 0;
  height: 48px;
  width: 30%;
  border: none;
  max-width: 600px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.login_getStarted {
  /* margin-top: 5px; */
  padding: 15px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 498px) {
  .login_logo {
    position: fixed;
    top: 12px;
    left: 40px;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
  }
  .login_body > h1 {
    font-size: 2.125rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .login_body > h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .login_body > h3 {
    font-size: 1rem;
    font-weight: 400;
  }
  .login_getStarted {
    /* margin-top: 5px; */
    padding: 10px 10px;
    font-size: 0.8rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 500;
    cursor: pointer;
  }
  .login_input > form > input {
    padding: 5px;
    outline-width: 0;
    height: 34px;
    width: 45%;
    border: none;
    max-width: 600px;
  }
}
